@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0;
    font-family: "Roboto", sans-serif ;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

.container {
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 25px;
}

.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.container h2 {
  font-size: 18px;
}

.container #escuchar {
  font-size: 14px;
}

.container #info-combo {
  font-size: 16px;
}

.container #tiempo-restante {
  font-size: 18px;
}

.container .header:last-child {
  justify-content: center;
}
.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center
}

.cards {
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    cursor: pointer;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.cards .card .view {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    user-select: none;
    pointer-events: none;
}

.card .front-view span{
    color: darkorange;
    font-size: 45px;
}
.card .back-view {
    transform: rotateY(-180deg);
}

.card.vuelta .back-view {
    transform: rotateY(0);
}

.card.vuelta .front-view {
    transform: rotateY(180deg);
}

/*tamaño de las imagenes*/
.card .back-view img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.card.moverse {
    animation: moverse 0.35s ease-in-out;
}

@keyframes moverse {
    0%, 100% {
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    } 
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }               
}
.container h1 {
    padding: 5px;
    display: flex;
    align-content: center;
}    

#tiempo-restante.cuenta-regresiva {
  color: red;
  animation: parpadeo 0.5s infinite alternate;
}

@keyframes parpadeo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

/* Estilo del modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: black;
  font-size: 26px;
  color: red;
  text-align: center;
  padding: 20px;
  margin: 15% auto;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  white-space: pre-line; 
}

/* Agregar animación si deseas */
.modal-content p.puntuacion-final {
  font-size: 30px; /* Ajusta el tamaño de fuente según sea necesario */
  color: white; /* Ajusta el color del texto según sea necesario */
  font-weight: bold; /* Otras propiedades de estilo según sea necesario */
}


/* Tamaño de las imágenes para resoluciones menores a 800x600 */
@media screen and (min-width: 800px) {
  .container {
    width: 300px; /* Ajusta el valor según sea necesario */
    height: 300px; /* Ajusta el valor según sea necesario */
  }

  .cards {
    height: 200px; /* Ajusta el valor según sea necesario */
    width: 250px; /* Ajusta el valor según sea necesario */
  }

  .card .back-view img {
    max-width: 100%; /* Mantiene las proporciones */
    max-height: 90%; /* Mantiene las proporciones */
    width: 120px; /* Ajusta el valor según sea necesario */
  }
}

/* Tamaño de las imágenes para resoluciones mayores a 1024x768 */
@media screen and (min-width: 1024px) {
  .container {
    width: 400px; /* Ajusta el valor según sea necesario */
    height: 350px; /* Ajusta el valor según sea necesario */
  }

  .cards {
    height: 400px; /* Ajusta el valor según sea necesario */
    width: 350px; /* Ajusta el valor según sea necesario */
  }

  .card .back-view img {
    max-width: 100%; /* Mantiene las proporciones */
    max-height: 90%; /* Mantiene las proporciones */
    width: 120px; /* Ajusta el valor según sea necesario */
  }
}

/* Tamaño de las imágenes para resoluciones mayores a 1366x768 */
@media screen and (max-width: 1366px) {
  .container {
    width: 650px; /* Ajusta el valor según sea necesario */
    height: 650px; /* Ajusta el valor según sea necesario */
  }

  .cards {
    height: 550px; /* Ajusta el valor según sea necesario */
    width: 600px; /* Ajusta el valor según sea necesario */
  }

  .card .back-view img {
    max-width: 100%; /* Mantiene las proporciones */
    max-height: 90%; /* Mantiene las proporciones */
    width: 120px; /* Ajusta el valor según sea necesario */
  }
}
/* Tamaño de las imágenes para resoluciones mayores a 1367x768 */
@media screen and (min-width: 1367px) {
  .container {
    width: 700px; /* Ajusta el valor según sea necesario */
    height: 700px; /* Ajusta el valor según sea necesario */
  }

  .cards {
    height: 600px; /* Ajusta el valor según sea necesario */
    width: 650px; /* Ajusta el valor según sea necesario */
  }

  .card .back-view img {
    max-width: 100%; /* Mantiene las proporciones */
    max-height: 90%; /* Mantiene las proporciones */
    width: 120px; /* Ajusta el valor según sea necesario */
  }
}

/* Tamaño de las imágenes para pantallas pequeñas (celulares) */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    height: auto;
    max-height: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: red;
  }

  .cards {
    height: calc(25% - 10px); /* Calcula el 25% del ancho menos el espacio entre las tarjetas */
    width: calc(25% - 10px); /* Calcula el 25% del ancho menos el espacio entre las tarjetas */
    margin: 5px; /* Agrega espacio entre las tarjetas */
  }

  .card .back-view img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
  }
}