body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
    background-color: black;
}

.inicio-container {
    text-align: center;
    max-width: 500px; /*tamaño del contenedor*/
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Añade estas reglas para centrar el texto en el selector de nivel */
label[for="dificultad"] {
    display: block;
    margin-bottom: 10px;
}

#dificultad {
    width: 100%; /* Haz que el selector ocupe el 100% del ancho disponible */
    padding: 10px; /* Añade un relleno para mejorar la apariencia */
    font-size: 1em; /* Ajusta el tamaño del texto según sea necesario */
    margin-bottom: 20px; /* Espaciado inferior para separar del botón */
}

/* centrar el texto dentro del selector */
#dificultad option {
    text-align: center;
}

button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}
/* Agrega estilos al selector de nivel de dificultad */
#dificultad {
    font-size: 1.5em; /* Tamaño de fuente */
    padding: 10px; /* Espaciado interno */
    width: 50%; /* Ancho del selector, ajusta según sea necesario */
    border: 1px solid #ccc; /* Borde del selector */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espaciado inferior */
}

/* Estilos para el texto del selector de nivel de dificultad */
label {
    display: block; /* Asegura que la etiqueta sea una línea completa */
    margin-bottom: 10px; /* Espaciado inferior */
    font-size: 1.5em; /* Tamaño de fuente */
    color: #333; /* Color del texto */
}

/* Agrega estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
/* Estilo del modal de instrucciones */
.modal-instrucciones {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-instrucciones {
  background-color: black;
  font-size: 26px;
  color: red;
  text-align: center; /* Centra el texto */
  padding: 20px;
  margin: auto; /* Centra el modal verticalmente */
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

  
  /* Agrega estilos para el botón (puedes personalizar según tus preferencias) */
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }


/* Estilos específicos para resoluciones menores o iguales a 1366x768 */
@media screen and (max-width: 1366px) {
  .inicio-container {
      max-width: 40%; /* Ajusta el ancho según sea necesario */
      max-height: 90%; /* Ajusta la altura según sea necesario */
      padding: 20px; /* Añadido para dar más espacio al contenido */
  }

  h2 {
    font-size: large;
  }
  button {
    font-size: 1em;
    padding: 10px 15px; /* Ajusta el relleno del botón para que sea más proporcionado */
}

#dificultad {
    font-size: 1em;
    width: 30%; /* Hacer que el selector ocupe todo el ancho disponible */
    max-width: 30%; /* Evitar que se desborde en pantallas pequeñas */
    margin-bottom: 0px; /* Espaciado inferior más pequeño */
    height: 30%;
    box-sizing: border-box; /* Ajusta el modelo de caja para incluir el relleno y el borde */
}

/* Ajusta otros estilos según sea necesario para resoluciones menores */

body {
    justify-content: flex-start; /* Alinea el contenido en la parte superior del cuerpo */
    overflow: hidden; /* Evita que el contenido adicional sobresalga en la parte inferior */
}

img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}
.modal-content-instrucciones {
  background-color: black;
  font-size: 20px;
  color: red;
  text-align: center; /* Centra el texto */
  padding: 20px;
  margin: auto; /* Centra el modal verticalmente */
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Estilos para el texto del selector de nivel de dificultad */
label {
  display: block; /* Asegura que la etiqueta sea una línea completa */
  margin-bottom: 10px; /* Espaciado inferior */
  font-size: 1em; /* Tamaño de fuente */
  color: #333; /* Color del texto */
}

}
/* Estilos específicos para resoluciones menores o iguales a 767px */
@media screen and (max-width: 767px) {
  .inicio-container {
    max-width: 100%; /* Ajusta el ancho según sea necesario */
    padding: 15px; /* Añade un poco de espacio alrededor del contenedor */
  }

  #dificultad {
    font-size: 1em;
    width: 50%; /* Hacer que el selector ocupe todo el ancho disponible */
    max-width: 100%; /* Evitar que se desborde en pantallas pequeñas */
    margin-bottom: 15px; /* Espaciado inferior */
  }

  img {
    max-width: 100%; /* Asegúrate de que las imágenes no se desborden en pantallas pequeñas */
    margin-bottom: 10px; /* Reduce el espacio inferior entre las imágenes */
  }

  .modal-content-instrucciones {
    font-size: 12px; /* Reduce el tamaño del texto del modal para pantallas pequeñas */
  }
  button {
    font-size: 1em;
    padding: 10px 15px; /* Ajusta el relleno del botón para que sea más proporcionado */
    margin-top: 20px;
    padding: 10px 20px;
    /* font-size: 16px; */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 
}



