/* newhsc.css */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    min-height: 100vh;
    background-color: black;
    color: red; /* Color del texto */
    font-family: "Roboto", sans-serif; /* Ajusta según tus fuentes */
    margin: 0; /* Elimina el margen predeterminado del body */
}

h1 {
    padding: 40px 20px; /* Ajusta el espacio según tus preferencias */
    font-size: 36px; /* Ajusta el tamaño de fuente según tus preferencias */
    margin-top: 10px; /* Ajusta el espacio superior según tus preferencias */
}

h2 {
    text-decoration-line: underline;
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
}

#nombre {
    font-size: 18px; /* Ajusta el tamaño de fuente según tus preferencias */
    width: 250px;
    margin-left: 10px;
    margin-top: 18px; /* Ajusta el espacio superior según tus preferencias */
}

/*texto nombre*/
#highscore-form label {
    font-size: 30px;
    margin-top: 10px;
}


/*boton guardar*/
#highscore-form button {
    font-size: 16px;
    padding: 10px; /* Ajusta el espacio interno según tus preferencias */
    margin-top: 10px; /* Ajusta el espacio superior según tus preferencias */
    margin-left: 10px;
    width: 180px;
    height: 35px;
}

#highscores-list {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0; /* Inicia con opacidad cero */
    animation: fadeIn 1s forwards ease-out; /* Animación de fadeIn con ease-out para un movimiento más lento */
    margin-top: 20px; /* Ajusta el espacio superior según tus preferencias */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px); /* Mueve hacia arriba durante la animación */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#highscores-list h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

#mostrar-puntuacion {
    font-size: 30px; /* Ajusta el tamaño de fuente según tus preferencias */
}

#nombre {
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
}

#highscores-list p {
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
    margin-bottom: 10px;
    position: relative; /* Necesario para que la animación funcione */
    top: -10px; /* Mueve el texto un poco más arriba */
}

#highscores-list p:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, red, transparent); /* Efecto de titileo */
    opacity: 0; /* Inicia con opacidad cero */
    z-index: -1; /* Coloca el fondo detrás del texto */
    animation: flash 1s infinite alternate; /* Animación de flash */
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#highscores-list button {
    font-size: 20px; /* Ajusta el tamaño de fuente según tus preferencias */
    background-color: red;
    color: black;
    padding: 15px 20px; /* Ajusta el espacio interno según tus preferencias */
    margin-top: 20px; /* Ajusta el espacio superior según tus preferencias */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#highscores-list button:hover {
    background-color: darkred;
}
